.features {
  padding-top: 60px;
  padding-bottom: 60px;
}
.features-container {
  & :not(:last-child) {
    margin-bottom: 30px;
  }
  & :last-of-type {
    margin-bottom: 0px;
  }
  @media (min-width: $tablet-width) {
    display: inline-flex;
    flex-wrap: wrap;
  }
}
.features-item {
  width: 450px;
  @media (min-width: $tablet-width) {
    display: block;
    width: 354px;
    height: 251px;
    flex-basis: auto;
  }
  @include nth-child-odd;
  @media (min-width: $desktop-width) {
    width: 270px;
    @include not-last-child-margin-30;
  }
}
.features-title {
  display: flex;

  font-size: 14px;
  letter-spacing: 0.03em;
  font-weight: 700;
  line-height: 1.14;

  justify-content: center;

  text-transform: uppercase;
  color: $primary-black-color;

  margin-bottom: 0px;
  margin-top: 30px;
  @media (min-width: $tablet-width) {
    display: block;
  }
}
.features-text {
  font-size: 14px;
  letter-spacing: 0.03em;
  font-weight: 400;
  line-height: 1.71;
  color: $primary-text-color;

  margin: 0px;
  margin-top: 10px;
}
.features-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: $icon-background-color;
}
