.footer-logo {
  width: 154px;
  display: contents;
  @media (min-width: $tablet-width) {
    margin-left: 115px;
  }
  @media (min-width: $desktop-width) {
    // align-items: flex-start;
  }
}
.logo.footer {
  margin: 0px;
  @media (min-width: $desktop-width) {
  }
}
.container.footer {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: nowrap;
  }
}
.footer-address {
  @media (min-width: $tablet-width) {
    margin-top: 20px;
  }
  @media (min-width: $desktop-width) {
    margin-top: 20px;
  }
}
.footer-container {
  text-align: center;
  @media (min-width: $tablet-width) {
    flex-basis: calc(100% / 2 - 30px);
  }
  @media (min-width: $desktop-width) {
    flex-basis: auto;
    display: block;
    text-align: unset;
  }
}
.footer-section {
  background-color: $bcg-main-color;
  padding-bottom: 60px;
  padding-top: 60px;
}
.contacts .footer-tel {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $primary-text-color;
}
.contacts .footer-mail {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $primary-text-color;
}
.address {
  font-style: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $primary-title-color;

  margin: 0px;
}
.contacts.footer {
  display: block;
  padding-top: 9px;
}
.ftr-address {
  @media (min-width: $tablet-width) {
    width: 232px;
    margin: 0px;
  }
  @media (min-width: $desktop-width) {
    margin-left: 0px;
  }
}
