.enjoy-box {
  margin-top: 60px;
  text-align: center;
}

.svg-box {
  display: flex;
  justify-content: center;
  & :not(:last-child) {
    margin-right: 10px;
  }
}
.footer-icon {
  transition: $animation-function;
  transition-property: background-color;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  background: rgba(255, 255, 255, 0.1);
  color: $primary-title-color;
  &:hover,
  &:focus {
    background-color: $primary-logo-color;
  }
}
.svg-footer {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
