header {
  border-bottom: 1px solid #ececec;
  position: relative;
}
.nav {
  display: flex;
  align-items: center;
  @media screen and (max-widht: 767px) {
    justify-content: space-between;
    min-height: 60px;
  }
  @media (min-width: $desktop-width) {
    display: inline-flex;
  }
}
.menu-button {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 2;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
  .icon-cross {
    display: none;
  }
  &.is-open {
    .icon-cross {
      display: block;
    }
    .icon-menu {
      display: none;
    }
  }
  @media (min-width: $tablet-width) {
    display: none;
  }
}
.menu-container {
  // display: block;
  @media (max-width: 767px) {
    display: none;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;

    padding: 48px 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: $primary-title-color;
    &.is-open {
      display: block;
    }
    & ~ .bottom-container {
      display: inline-flex;
    }
  }
  display: flex;
}
.nav-link {
  margin-bottom: 302px;
  @media (min-width: $tablet-width) {
    margin-bottom: 0px;
    display: inline-flex;
  }
}
.address-link {
  @media (min-width: $tablet-width) {
    display: block;
    align-items: center;
    position: absolute;
    right: 15px;
    align-self: flex-end;
    @media (min-width: $desktop-width) {
      display: flex;
      position: absolute;
      top: 0;
      right: 215px;
    }
  }
}
.bottom-container {
  margin-top: 64px;
  display: flex;
  @media (min-width: $tablet-width) {
    display: none;
  }
}
.bottom-box {
  height: 22px;
  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
  }
  &:not(:first-child) {
    padding-left: 10px;
  }
}
.bottom-link {
  display: flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  color: $primary-logo-color;
}
.header-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: $primary-black-color;
  @media (min-width: $tablet-width) {
    @include header-link-tablet;
  }
}
.header-link.current {
  color: $primary-logo-color;
  @media (min-width: $tablet-width) {
    @include header-current;
  }
}
.header-item {
  padding-bottom: 32px;
  &:last-child {
    padding: 0;
  }
  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
  @media (min-width: $desktop-width) {
  }
}
.contacts {
  display: none;
  @media (min-width: $tablet-width) {
    display: block;
  }
  @media (min-width: $desktop-width) {
    align-items: center;
  }
}
.contacts1 {
  display: flex;
  @media (min-width: $tablet-width) {
    display: none;
  }
}
.header-tel {
  transition: $animation-function;
  transition-property: color;

  margin-bottom: 32px;

  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;

  letter-spacing: 0.02em;

  color: $primary-text-color;
  @media (min-width: $tablet-width) {
    display: inline-flex;
    @include align-justify-center;
    margin-top: 10px;
    margin-bottom: 21px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
  &:hover,
  &:focus {
    color: $primary-logo-color;
    fill: $primary-logo-color;
  }
  @media (min-width: $desktop-width) {
    margin: 0;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.header-mail {
  transition: $animation-function;
  transition-property: color;

  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;

  color: $primary-text-color;
  @media (min-width: $tablet-width) {
    display: inline-flex;
    @include align-justify-center;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
  &:hover,
  &:focus {
    color: $primary-logo-color;
    fill: $primary-logo-color;
  }
  @media (min-width: $desktop-width) {
    margin: 0;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.mail-icon {
  display: none;
  @media (min-width: $tablet-width) {
    display: inline-flex;

    width: 14px;
    height: 10px;
    fill: $primary-text-color;
    margin-right: 8px;

    @include align-justify-center;
  }
  @media (min-width: $desktop-width) {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
  }
}
.tel-icon {
  display: none;
  @media (min-width: $tablet-width) {
    display: inline-flex;

    width: 10px;
    height: 14px;
    fill: $primary-text-color;
    margin-right: 8px;

    @include align-justify-center;
  }
  @media (min-width: $desktop-width) {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    margin-left: 30px;
    fill: currentColor;
  }
}
