header {
  border-bottom: 1px solid #ececec;
}
.container.nav {
  display: flex;
  align-items: center;
}
.menu-container {
  display: flex;
}
// .menu-container {
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;

//   width: 480px;
//   height: 796px;

//   background-color: $primary-title-color;

//   opacity: 0;
// }
.address-link {
  display: none;
  @media (min-width: $tablet-width) {
    display: block;
    padding: 0px;
    margin: 0px;
  }
  @media (min-width: $desktop-width) {
    display: flex;
  }
}
.nav-link {
  display: none;
  @media (min-width: $tablet-width) {
    display: flex;
    @include not-last-child-50;
    margin-right: 88px;
  }
  @media (min-width: $desktop-width) {
    display: flex;
    @include not-last-child-50;
    margin-right: 278px;
  }
}
.header-link {
  position: relative;

  transition: $animation-function;
  transition-property: color;

  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
  font-weight: 500;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $primary-black-color;
  &:focus,
  &:hover {
    color: $primary-logo-color;
  }
}
.header-link.current {
  color: $primary-logo-color;
  &::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -2px;

    width: 100%;
    height: 5px;
    border-radius: 2px;
    display: block;
    background-color: $primary-logo-color;
  }
}
.contacts {
  display: flex;
  @include align-justify-center;
  font-weight: 500;
  font-size: 14px;
  @media (min-width: $tablet-width) {
    display: inline-block;
    @include align-justify-center;
  }
  @media (min-width: $desktop-width) {
    display: inline-flex;
    @include align-justify-center;
    & :hover,
    & :focus {
      color: $primary-logo-color;
      fill: $primary-logo-color;
    }
  }
}
.header-mail {
  color: $primary-text-color;

  transition: $animation-function;
  transition-property: color;

  @media (min-width: $tablet-width) {
    font-size: 12px;
    line-height: 1.16;
  }
  @media (min-width: $desktop-width) {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin-right: 30px;
  }

  @include align-justify-center;
}
.mail-icon {
  @include header-address-icon;
  fill: $primary-text-color;
  @media (min-width: $tablet-width) {
    margin: 0px;
    padding: 0px;
  }
  @media (min-width: $desktop-width) {
    height: 12px;
    margin-right: 10px;
  }
}
.header-tel {
  color: $primary-text-color;

  transition: $animation-function;
  transition-property: color;

  @media (min-width: $tablet-width) {
    font-size: 12px;
    line-height: 1.16;
  }
  @media (min-width: $desktop-width) {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }

  @include align-justify-center;
}
.tel-icon {
  @include header-address-icon;
  fill: $primary-text-color;
  @media (min-width: $tablet-width) {
    margin: 0px;
    padding: 0px;
  }
  @media (min-width: $desktop-width) {
    margin-right: 10px;
    height: 16px;
  }
}
