.logo {
  font-family: raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $secondary-logo-color;
}

.logo.header {
  margin-right: 93px;
}
.header-section .logo {
  color: $secondary-logo-color;
}
.footer-section .logo {
  color: $primary-title-color;
}
.logo .web {
  color: $primary-logo-color;
}
