.logo {
  font-family: raleway;
  font-size: 24px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: $secondary-logo-color;
}
.logo.header {
  justify-content: flex-start;
}
.header-section .logo {
  color: $secondary-logo-color;
}
.footer-section .logo {
  color: $primary-title-color;
}
.logo .web {
  color: $primary-logo-color;
}
