.title-box {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 370px;
  height: 60px;
  @media (min-width: $desktop-width) {
    width: 448px;
    height: 23px;
  }
  margin: 40px 40px 2px 40px;
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: $primary-black-color;
  margin: 0;
}
.inputs {
  margin: 12px 40px 20px 40px;
}
.label {
  position: relative;
  margin-top: 28px;
}
.svg {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}
.input-text {
  position: absolute;
  top: -10px;
  left: 0;
  transform: translateY(-50%);

  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: $primary-text-color;
}
.input {
  width: 370px;
  @media (min-width: $desktop-width) {
    width: 448px;
  }
  height: 40px;
  padding: 12px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;

  font-weight: normal;
  font-size: 12px;
  line-height: 1.16px;

  letter-spacing: 0.01em;

  color: $primary-text-color;

  transition: $animation-function;

  @include mobile-modal-focus;
  @media (min-width: $tablet-width) {
    @include tablet-modal-focus;
  }
}
.input.comments {
  width: 370px;
  @media (min-width: $desktop-width) {
    width: 448px;
  }
  height: 120px;

  padding: 12px 16px;

  font-size: 12px;
  line-height: 1.16;
}
.policy-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0px 30px;
}
.policy-box {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}
.svg-policy {
  width: 16px;
  height: 15px;
  position: relative;
  left: 10px;
  @media (min-width: $desktop-width) {
    left: 16px;
  }

  transition: $animation-function;

  opacity: 0;
  color: $primary-title-color;
  background-color: $primary-logo-color;
  border-radius: 3px;
}
.checkbox {
  &:checked ~ .checkbox-icon {
    opacity: 0;
  }
  &:checked ~ .svg-policy {
    opacity: 1;
  }
}
.checkbox-icon {
  position: relative;
  left: -6px;
  @media (min-width: $desktop-width) {
    left: 0px;
  }

  transition: $animation-function;

  cursor: pointer;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
}
.policy-text {
  margin: 0;
  @media (min-width: $desktop-width) {
    margin-left: 15px;
  }

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  @media (min-width: $desktop-width) {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71;
  }

  cursor: pointer;

  color: $primary-text-color;
}
.policy-link {
  color: $primary-logo-color;
  border-bottom: 1px solid $primary-logo-color;
}
.modal-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 200px;
  height: 50px;
  margin: 30px 125px 40px 125px;
  @media (min-width: $desktop-width) {
    margin: 30px 164px 37px 164px;
    display: flex;
    @include align-justify-center;
  }

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 18.7px;
  letter-spacing: 0.06em;

  color: $primary-title-color;
}
