.enjoy {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-title-color;

  padding-bottom: 20px;
  margin: 0px;
}
.enjoy-box {
  margin-top: 12px;
  margin-left: 70px;
}

.svg-box {
  display: flex;
  align-self: center;
  & :not(:last-child) {
    margin-right: 10px;
  }
}
.footer-icon {
  transition: $animation-function;
  transition-property: background-color;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  background: rgba(255, 255, 255, 0.1);
  color: $primary-title-color;
  &:hover,
  &:focus {
    background-color: $primary-logo-color;
  }
}
.svg-footer {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
