$primary-title-color: #ffffff;
$primary-text-color: #757575;
$primary-logo-color: #2196f3;
$secondary-logo-color: #000000;
$primary-black-color: #212121;
$bcg-main-color: #2f303a;
$icon-color: #afb1b8;
$background-color: #c4c4c4;
$icon-background-color: #f5f4fa;
$animation-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
