@mixin header-display {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin not-last-child-30 {
  & :not(:last-child) {
    padding-right: 30px;
  }
}
@mixin not-last-child-50 {
  & :not(:last-child) {
    padding-right: 50px;
  }
}
@mixin header-address-icon {
  margin-right: 10px;
  fill: currentColor;
}
@mixin align-justify-center {
  align-items: center;
  justify-content: center;
}
@mixin ntn-child-3 {
  & :nth-child(-n + 3) {
    padding-right: 50px;
  }
}
@mixin nth-child-odd {
  &:nth-child(odd) {
    margin-right: 30px;
  }
}
@mixin not-last-child-margin-30 {
  &:not(:last-child) {
    margin-right: 30px;
  }
}
@mixin mobile-modal-focus {
  &:focus ~ .input-text {
    color: $primary-logo-color;
  }
  &:focus {
    border-color: $primary-logo-color;
  }
  &:focus ~ .svg {
    fill: $primary-logo-color;
  }
}
@mixin tablet-modal-focus {
  &:focus ~ .input-text {
    color: $primary-text-color;
  }
  &:focus {
    border-color: $primary-logo-color;
  }
}
@mixin work-container-desktop {
  padding-bottom: 30px;
  margin: 0px 30px 0px 0px;
  &:last-child {
    margin-right: 0px;
  }
}
@mixin clients-tablet-margin {
  width: 226px;
  flex-basis: calc((100% / 3 - 30px) / 3);
  &:nth-child(2n + 1) {
    margin-right: 0px;
  }
  &:nth-child(3n + 1) {
    margin-right: 30px;
  }
  &:nth-child(3n + 2) {
    margin-right: 30px;
  }
}
