html *,
*::before,
*::after {
  box-sizing: border-box;
}
ul {
  margin: 0px;
  padding-inline-start: 0px;
}
body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
button {
  cursor: pointer;
}
.container {
  width: 480px;
  padding: 0px 15px;
  margin: 0px auto;

  @media screen and (min-width: $tablet-width) {
    width: 738px;
  }
  @media screen and (min-width: $desktop-width) {
    width: 1170px;
  }
}
textarea {
  resize: none;
}
textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
